<!DOCTYPE html>
<html lang="en" data-taler-nojs="true">
<head profile="http://www.w3.org/2005/10/profile">
  <meta charset="utf-8"/>
  <title>Taler Demo - Auditor</title>
  <link rel="stylesheet" type="text/css" href="{{ url('static/web-common/pure.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url('static/web-common/demo.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url('static/web-common/taler-fallback.css') }}" id="taler-presence-stylesheet" />
  <link rel="icon" type="image/png" href="{{ url('static/web-common/favicon-taler.ico') }}" />


  <style type="text/css">
    a[disabled="true"] {
    pointer-events: none;
    color: grey;
    }

    .bluebox {
      background-color: #C2C6FF;
      border: solid;
      border-radius: 5px;
      padding: 0.5em;
    }
    .greenbox {
      background-color: #5EFF64;
      border: solid;
      border-radius: 5px;
      padding: 0.5em;
    }
    .graybox {
      background-color: #DDDDDD;
      border: solid;
      border-radius: 5px;
      padding: 0.5em;
    }
  </style>

  <script src="{{ url('static/web-common/taler-wallet-lib.js') }}"></script>
  <script>
  function addAuditor() {
    taler.addAuditor({
      url: "{{ auditor_url }}",
      currency: "{{ currency }}",
      auditorPub: "{{ auditor_pub }}",
      expirationStamp: (new Date(2027, 1)).getTime(),
    });
  }
  </script>
</head>

<body>
  <div class="demobar">
    <h1><span class="tt adorn-brackets">Taler Demo</span></h1>
    <h1><span class="it"><a href="#">Auditor</a></span></h1>
    <p>This is an auditor for the currency "{{ currency }}".</p>
    <ul>
      <li><a href="{{ intro_url }}">Introduction</a></li>
      <li><a href="{{ bank_url }}">Bank</a></li>
      <li><a href="{{ merchant_blog_url }}">Essay Shop</a></li>
      <li><a href="{{ merchant_donations_url }}">Donations</a></li>
    </ul>
    <p>You can learn more about Taler on our main <a href="https://taler.net">website</a>.</p>
  </div>
  <section id="main" class="content">
  <button class="pure-button pure-button-primary" onclick="addAuditor()">Add Auditor</button>
  </section>
</body>
</html>
